.container {
  max-width: 600px;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.w-2\/4 {
  width: 50%;
}

.text-center {
  text-align: center;
}

.underline {
  text-decoration: underline;
}

.text-red {
  color: #dc3545;
}

.bg-white {
  background-color: #fff;
}

.shadow {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.p-2 {
  padding: 0.5rem;
}

.my-10 {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.p-5 {
  padding: 1.25rem;
}
